<h2> Listing Cartlineitems </h2>
  <% if current_user.cart_line_items.empty? %>
  <b> your cart is empty continue shopping<%= link_to "here", products_path %> </b> 
  <% else %>

  <table border="1">
  <thead>
  <tr>
  <th> sl no </th>
  <th> Name </th>
  <th> Price </th>
  <th> Quantity </th>
  <th> Total </th>
  <th> Actions </th>
  <th> Save later </th>
  </tr>
  </thead>
  <tbody> 
    <% sum = 0 %>
	<% @cart_line_items.each_with_index do |line_item, index| %>
	
	<tr>
	<td><%= index + 1 %></td>
	
	<td><%= line_item.product.name %> </td> 

  <td><%= line_item.product.price %> </td>
	
	<td> <%= form_for line_item do |f| %>
	
	<%= f.select :quantity, (1..10).to_a %>  
	<%= f.submit "update" %> 
	<% end %></td>
   <td><%= (line_item.product.price) * (line_item.quantity) %> </td>
    <% sum = sum + line_item.product.price * line_item.quantity %>
    <td><%= link_to "Remove", cart_line_item_path(line_item.id), method: :delete %> </td>

    <td><%= form_for @wish_list do |f| %>
     <%= f.hidden_field :product_id, value: line_item.product_id %>
    <%= f.submit "Add to Wishlist" %>
   <% end %>
   </td>
</tr>
<% end %> 
</tbody>
	</table>
  <h4>Cart Total <%= sum %></h4>
 
 
  <%= form_for @order do |f| %>
 <label>Address : </label> </br>
 <%= f.collection_select :address_id, current_user.addresses, :id, :street, prompt: "select address" %> </br>
 
 <%= f.submit "Checkout" %>
 <% end %>
<% end %>