
<h2> Hi <%= @order.user.username %></h2>

<%= @order.order_number %>
<%= @order.order_date %>
<%= @order.total %> 

<ul>
 <% @order.order_line_items.each do |line_item| %>
<li><%= line_item.product.name %> INR<%= line_item.price %> <%= line_item.quantity %> <%= line_item.total %> </li>
<% end %> 

</ul>
<p> Thank u for placing an order </p>