<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



   <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/shop-item.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"/></script>

  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<%= link_to "Cart", cart_line_items_path %> | <%= link_to "Order", orders_path %> 
<%= link_to "Address", addresses_path %>
<%= current_user.username %>

<%= link_to "Dashboard", dashboard_home_path %>
<%= link_to "AccountSetting", edit_user_registration_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %> 
<%= link_to "Login", new_user_session_path %>
<%= link_to "Register", new_user_registration_path %>
<% end %>
<%= link_to "Products", products_path %> | <%= link_to "Categories", categories_path %>


<%= link_to "Wishlists", wish_lists_path %>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <script src="../../js/bootstrap.min.js"></script>


<div class = "container" >

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="row">
       
        <div class="col-md-3">
         <p class="lead">Shop Name</p>
         <div class="list-group">
            <% Category.all.each do |category| %>
            <%= link_to category.name, category, class: "list-group-item" %>
            <%end%>
          </div> 
        </div> 

        <div class="col-md-9">
          <%= yield %>
        </div>
    </div>

</div>


</body>
</html>
